.profile {
  display: flex;
  width: 80%;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  justify-content: space-evenly;
  margin-top: 50px;
}

button {
  color: #fff;
  width: 150px;
  padding: 10px;
  background-color: #3f51b5;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

img {
  width: 150px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 10px;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

mat-form-field {
  width: 250px;
}

.group-address {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.button-address {
  font-size: 10px;
  margin-left: 30px;
  padding: 5px;
  background-color: rgb(87, 123, 154);
}

.address {
  margin-bottom: 10px;
}
